.feedback-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.feedback-form label {
  display: block;
  margin-bottom: 8px;
}

.feedback-form input[type='email'],
.feedback-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.feedback-form textarea {
  resize: vertical;
}

.feedback-form button[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: rgba(78, 117, 255, 1);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.feedback-form button[type='submit']:hover {
  background-color: rgba(108, 140, 255, 1);
}
